@import 'bootstrap';

h1#new-header {
	color: rgb(255, 0, 0);
}

#idea_picture {
	color: rgb(255, 163, 0);
}

#name_1 {
	color: rgb(255, 255, 0);
}

#idea_name {
	color: rgb(64, 255, 3);
}

#idea_description1 {
	color: rgb(0, 255, 204);
}

#idea_description {
	color: rgb(0, 10, 255);
}

#idea_picture1 {
	color: rgb(204, 0, 255);
}

#idea_picture {
	color: rgb(255, 0, 255);
}

#back {
	color: rgb(247, 175, 247);
	}

body {
	background: url(http://behance.vo.llnwd.net/profiles12/507568/projects/2555349/ab6042e18c2effa3b5408f02052770c3.jpg) !important ;
}

#name123 {
	color: rgb(255, 163, 0);
}

#listing_ideas {
	color: rgb(255, 5, 5);
}

#desc {
	color: rgb(255, 245, 0);
}

#pic {
	color: rgb(92, 255, 0);
}

#idea_name123 {
	color: rgb(0, 255, 235);
}

#idea_desc123 {
	color: rgb(0, 10, 255);
}

#idea_pic123 {
	color: rgb(245, 0, 255);
}

#show {
	color: rgb(250, 170, 253);
}

#edit {
	color: #fff;
}

#naaame {
	color: rgb(255, 0, 0);
}

#deeesc {
	color: rgb(255, 153, 0);
}

#piiic {
	color: rgb(255, 255, 0);
}

#ediiit {
	color: rgb(20, 245, 0);
}

#baaack {
	color: rgb(0, 255, 255);
}